<div class="chat-header">
  <div class="left-header">
    <div class="chat-room-name">hogefuga</div>
  </div>
  <div class="right-header">
    <div class="chat-room-quit">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main">
  <div class="messages">
    <div class="username-and-time">
      <div class="username">Tom</div>
      <div class="time">2023/12/10(Sun) 17:26:00</div>
    </div>
    <div class="lower-message">
      <div class="message">おはよう</div>
    </div>
  </div>
  <div class="messages">
    <div class="username-and-time">
      <div class="username">Sam</div>
      <div class="time">2023/12/10(Sun) 18:26:00</div>
    </div>
    <div class="lower-message">
      <div class="message">おやすみ</div>
    </div>
  </div>
</div>

<div class="chat-form">
  <div class="form-input">
    <input placeholder="type a message" class="input-text">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" class="form-submit" vaule="送信">
  </div>
</div>