<div class="side-bar-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-chat">
    <a  href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar-main">
  <div class="side-bar-rooms">
    <div class="room">
      <a href="#">Techroom1</a>
    </div>
  </div>
  <div class="side-bar-rooms">
    <div class="room">
      <a href="#">Techroom2</a>
    </div>
  </div>
  <div class="side-bar-rooms">
    <div class="room">
      <a href="#">Techroom3</a>
    </div>
  </div>
  <div class="side-bar-rooms">
    <div class="room">
      <a href="#">Techroom4</a>
    </div>
  </div>
  <div class="side-bar-rooms">
    <div class="room">
      <a href="#">Techroom5</a>
    </div>
  </div>
  <div class="side-bar-rooms">
    <div class="room">
      <a href="#">Techroom6</a>
    </div>
  </div>
  <div class="side-bar-rooms">
    <div class="room">
      <a href="#">Techroom7</a>
    </div>
  </div>
</div>